div.error,
div.warning,
div.success,
div.notice
{
    border: 1px solid;
    font-weight: bold;
    margin: 0;
    padding: 4px;
    text-align: center;
}

div.error
{
    background: #FCC;
    border-color: #900;
    color: #900;
}

div.warning
{
    background: #FC9;
    border-color: #F30;
    color: #F30;
}

div.success
{
    background: #CFC;
    border-color: #090;
    color: #090;
}

div.notice
{
    background: #CCF;
    border-color: #009;
    color: #009;
}
