<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd"
    bootstrap="tests/Bootstrap.php"
    colors="true"
    stderr="true"
>
    <testsuites>
        <testsuite name="Pickles Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
